<!-- Modal -->
<div class="modal fade" id="eventdetails{{numEvents}}" tabindex="-1" role="dialog" data-bs-backdrop="false" aria-labelledby="aria-eventdetails{{numEvents}}" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div>
                    <h5 class="modal-title" >{{ event.heading }}</h5>
                    {{ event.eventdate | date: "%b %d, %Y" }} - {{ event.eventtime }}
                </div>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <div class="row">
                            <p>{{ event.description }}</p>
                    </div>
                    <div class="row">
                        <p>{{ event.venue }}<br/>
                        {{ event.address }}
                        {% if event.mapurl %}
                            <a href="{{ event.mapurl }}" target="_blank">
                                Map
                            </a>
                        {% endif %}
                        </p>
                    </div>
                    {% if event.ticketurl %}
                    <div class="row">
                        <a href="{{ event.ticketurl }}" target="_blank">Buy Tickets</a>
                    </div>
                    {% endif %}
                    {% if event.eventdetailsurl %}
                    <div class="row">
                        <a href="{{ event.eventdetailsurl }}" target="_blank">More Details</a>
                    </div>
                    {% endif %}
                    <br/>
                </div>
            </div>
        </div>
    </div>
</div>