---
layout: default
---


<script>
    var InitialImage = true;
    function replaceHeroBackgroundImage() {
        var hero = document.getElementById('hero');
        if (InitialImage) {
            hero.style.backgroundImage = 'url("../assets/img/hero-bg-goofy.jpg")';
        } else {
            hero.style.backgroundImage = 'url("../assets/img/hero-bg.jpg")';
        }
        InitialImage = !InitialImage;
    }
</script>

<!-- ======= Mobile nav toggle button ======= -->
<i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

<!-- ======= Header ======= -->
<header id="header">
    <div class="d-flex flex-column">

        <div class="profile">
            <img src="assets/img/ncbo_logo_no_text.png" style="width: 120px" alt="">
            <img src="assets/img/ncbo-text-white.png" alt="">
        </div>

        <nav id="navbar" class="nav-menu navbar">
            <ul>
                <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
                <li><a href="#about" class="nav-link scrollto"><i class="bx bx-music"></i> <span>About</span></a></li>
                <li><a href="#events" class="nav-link scrollto"><i class="bx bx-calendar"></i> <span>Events</span></a></li>
                <li><a href="#board" class="nav-link scrollto"><i class="bx bx-group"></i> <span>Board</span></a></li>
                <li><a href="#support" class="nav-link scrollto"><i class="bx bx-gift"></i> <span>Support NCBO</span></a></li>
                <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
            </ul>
        </nav>
        <!-- .nav-menu -->
    </div>
</header>
<!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex flex-column justify-content-end align-items-center" onclick="replaceHeroBackgroundImage()">
    <div class="hero-container" data-aos="fade-in">
        <h1>North Carolina</h1>
        <h1>Baroque Orchestra</h1>
        <p><span class="typed" data-typed-items="Bringing New Life to Old Music, A Harmonic Adventure, Dramatic, Delightful, Superb"></span></p>
    </div>
</section>
<!-- End Hero -->

<main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container">

            <div class="section-title">
                <h2>About</h2>
                <p>The North Carolina Baroque Orchestra (NCBO), a period instrument ensemble, was co-founded in 2011 by sisters and musical collaborators Frances Blaker and Barbara Blaker Krumdieck for the purpose of providing orchestral and chamber music
                    opportunities for musicians specializing in baroque performance practice.</br>
                    </br>

                    It was clear from their first concerts in 2011 that there was a need for NCBO. The musicians were hungry for an opportunity to play baroque orchestral music on period instruments at a professional level, and the audiences were excited by their exuberant,
                    refreshing and inspiring performances.</br>
                    </br>

                    The North Carolina Baroque Orchestra maintains a goal of presenting refined, stylistic, artistic and fun performances, engaging both the players and the listeners in the stories and historical context behind the music.</br>
                    </br>
            </div>

            <div class="row">
                <div class="col-lg-6" data-aos="fade-right">
                    <!--<img src="assets/img/Sisters.jpeg" class="img-fluid" alt="">-->
                    <iframe width="600" height="450" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1426225957&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/user698034053" title="user698034053" target="_blank" style="color: #cccccc; text-decoration: none;">user698034053</a> · <a href="https://soundcloud.com/user698034053/sets/nc-baroque-orchestra-sample-tracks" title="NC Baroque Orchestra Sample Tracks" target="_blank" style="color: #cccccc; text-decoration: none;">NC Baroque Orchestra Sample Tracks</a></div>
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left">
                    <h3>Frances Blaker - Conductor & Artistic Director</h3>
                    <p>
                        Frances Blaker is a virtuoso recorder player and world-renowned expert in baroque performance practice, teaching workshops throughout The United States and Europe. She is a unique and exciting conductor, inspiring the NCBO players to bring new life to
                        old music! Ms Blaker lives in the San Francisco Bay Area where she maintains an active teaching studio and works on her compositions.
                    </p>
                    <h3>Barbara Krumdieck - Executive Director & Cellist</h3>
                    <p>
                        Barbara manages all of the details involved in putting performances together. The NCBO players travel in from near and far. Some are in the Carolinas, but a large number of the players travel in from all over the country including California, Indiana,
                        Kentucky, Tennessee , Georgia, Washington, D.C., Texas, New York, Pennsylvania, New Jersey and Virginia. Ms. Krumdieck contracts the musicians, arranges for their transportation and housing, provides them with music and makes them
                        feel welcome and valued within NCBO. She is also liaison between the orchestra and choir directors who contract NCBO for their special projects.
                    </p>
                </div>
            </div>

            
        </div>

    </section>
    <!-- End About Section -->

    {% include events.md %} {% include board.md %}

    <!-- ======= Support Section ======= -->
    <section id="support" class="resume  section-bg">
        <div class="container">

            <div class="section-title">
                <h2>Support NCBO</h2>
                <p>Your donations to the North Carolina Baroque Orchestra are critical in supporting the performances of these master musicians.</p>
            </div>

            <div class="row">
                <div class="col-lg-6" data-aos="fade-up">
                    <h3 class="resume-title">Levels</h3>
                    <div class="resume-item pb-0">
                        <h4>Friends of Telemann</h4>
                        <h5>Up to $99</h5>
                    </div>
                    <div class="resume-item pb-0">
                        <h4>Friends of Couperin</h4>
                        <h5>$100-$249</h5>
                    </div>
                    <div class="resume-item pb-0">
                        <h4>Friends of Vivaldi</h4>
                        <h5>$250-$499</h5>
                    </div>
                    <div class="resume-item pb-0">
                        <h4>Friends of Handel</h4>
                        <h5>$500-$999</h5>
                    </div>
                    <div class="resume-item pb-0">
                        <h4>The Bach Family</h4>
                        <h5>$1,000+</h5>
                    </div>
                </div>

                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                    <h3 class="resume-title">Contributions to NCBO</h3>
                    <div class="resume-item">
                        <h4>Fund projects</h4>
                        <p><em>Your donations help fund our instrumental projects with artistic director Frances Blaker.</em></p>
                    </div>
                    <div class="resume-item">
                        <h4>Enrich musicians</h4>
                        <p><em>Your donations help fund our annual orchestra building retreat, a week of working together with Frances Blaker in rehearsals, sectionals and seminars which is followed by several concerts.</em></p>
                    </div>
                    <div class="resume-item">
                        <h4>Support communities</h4>
                        <p><em>Your donations help support our efforts to bring period-instrument orchestral and chamber music concerts to underserved communities through-out the southeastern United States.</em></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" data-aos="fade-up" style="padding-top: 30px;">
            <div class="col-lg-12 d-flex justify-content-center">
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top"> <input type="hidden" name="cmd" value="_s-xclick"> <input type="hidden" name="hosted_button_id" value="XZN23PSLH2SHQ"> <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!"
                        alt="Donate with PayPal button"> <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1"></form>
            </div>
        </div>
        <div class="row" data-aos="fade-up">
            <div class="col-lg-12 d-flex justify-content-center">
                ©2022 North Carolina Baroque Orchestra, Inc. A registered and approved 501(c)(3) organization.
            </div>
        </div>
    </section>
    <!-- End Support Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
        <div class="container">

            <div class="section-title">
                <h2>Testimonials</h2>
            </div>

            <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <div class="testimonial-item" data-aos="fade-up">
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i> The superb North Carolina Baroque Orchestra accompanied. There were just nine performers for this evening’s concert, but their full tone belied that number. The balance
                                with the choir of about thirty was very fine. Phrasing and rhythm were tight and they created the tone and moods needed in this wide-ranging dramatic work.
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                            <!-- <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt=""> -->
                            <h4>WITH ST. PAUL’S EPISCOPAL CHURCH CHOIR, DIRECTOR RONNIE WISE – HANDEL’S ‘MESSIAH’</h4>
                        </div>
                    </div>
                    <!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-item" data-aos="fade-up" data-aos-delay="100">
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i> This way-ahead-of-its-time harmonic adventure was a challenge for the orchestra for its difficult intonation, which they passed with sparkling confidence and brilliance.
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                            <!-- <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt=""> -->
                            <h4>DIRECTED BY FRANCES BLAKER – FRANZ BIBER’S PARS III FROM MENSA SONORA (1680)</h4>
                        </div>
                    </div>
                    <!-- End testimonial item -->

                </div>
                <div class="swiper-pagination"></div>
            </div>

        </div>
    </section>
    <!-- End Testimonials Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact section-bg">
        <div class="container">

            <div class="section-title">
                <h2>Contact</h2>
                <p>Contact us via email or the address below. We'd love to hear from you!</p>
            </div>

            <div class="row" data-aos="fade-in">

                <div class="col-lg-5 d-flex align-items-stretch">
                    <div class="info">
                        <div class="address">
                            <i class="bi bi-geo-alt"></i>
                            <h4>Mailing Address:</h4>
                            <p>PO Box 2305, Davidson, NC 28036</p>
                        </div>

                        <div class="email">
                            <i class="bi bi-envelope"></i>
                            <h4>Email:</h4>
                            <p><a href="mailto:ncbaroqueorchestra@gmail.com">ncbaroqueorchestra@gmail.com</a></p>
                        </div>

                        <!-- <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+1 5589 55488 55s</p>
              </div> -->

                        <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe> -->
                    </div>

                </div>

                <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">

<!-- Begin Mailchimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-071822.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif;  width:600px;}
	/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="https://ncbaroqueorchestra.us16.list-manage.com/subscribe/post?u=0dfa55ddb6da7e528733cf160&amp;id=0652843057&amp;f_id=002765e0f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<h2>Subscribe</h2>
<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
<div class="mc-field-group">
	<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
</label>
	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
	<span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span>
</div>
<div class="mc-field-group">
	<label for="mce-FNAME">First Name </label>
	<input type="text" value="" name="FNAME" class="" id="mce-FNAME">
	<span id="mce-FNAME-HELPERTEXT" class="helper_text"></span>
</div>
<div class="mc-field-group">
	<label for="mce-LNAME">Last Name </label>
	<input type="text" value="" name="LNAME" class="" id="mce-LNAME">
	<span id="mce-LNAME-HELPERTEXT" class="helper_text"></span>
</div>
	<div id="mce-responses" class="clear foot">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_0dfa55ddb6da7e528733cf160_0652843057" tabindex="-1" value=""></div>
        <div class="optionalParent">
            <div class="clear foot">
                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                
            </div>
        </div>
    </div>
</form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->
</div>
          </div> 

            </div>

        </div>
    </section>
    <!-- End Contact Section -->

</main>
<!-- End #main -->


<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="container">
        <div class="profile">

            <div class="social-links mt-3 text-center" style="font-size: 30px;">
                <a href="https://www.facebook.com/ncbaroqueorchestra" target="_blank" class="facebook"><i class="bx bxl-facebook-circle"></i></a>
                <!-- <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a> -->
                <a href="https://www.youtube.com/channel/UCGFPqqVQ2COsjh7OX8Wd0rA" target="_blank" class="youtube"><i class="bx bxl-youtube"></i></a>
            </div>
        </div>
    </div>
</footer>
<!-- End  Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="assets/vendor/purecounter/purecounter.js"></script>
<script src="assets/vendor/aos/aos.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="assets/vendor/typed.js/typed.min.js"></script>
<script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
<script src="assets/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="assets/js/main.js"></script>